<%= form_with(model: veiculo) do |form| %>
  <% if veiculo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(veiculo.errors.count, "error") %> prohibited this veiculo from being saved:</h2>

      <ul>
        <% veiculo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :chassi, style: "display: block" %>
    <%= form.text_field :chassi %>
  </div>

  <div>
    <%= form.label :modelo, style: "display: block" %>
    <%= form.text_field :modelo %>
  </div>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.text_field :ano %>
  </div>

  <div>
    <%= form.label :cor, style: "display: block" %>
    <%= form.text_field :cor %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
