<div id="<%= dom_id veiculo %>">
  <p>
    <strong>Chassi:</strong>
    <%= veiculo.chassi %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= veiculo.modelo %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= veiculo.ano %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= veiculo.cor %>
  </p>

  <p>
    <strong>Valor.decimal:</strong>
    <%= veiculo.valor %>
  </p>

</div>
